<header class="header">
  <div class="container header-container">
    <nav class="nav-menu">
      <a href="" class="nav-menu-logo">
        <img class="header-logo" src="../img/astmk_logo.png" alt="Logo" />
      </a>
      <button
        name="close-menu"
        type="button"
        class="btn-menu js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="btn-menu-icon" width="32" height="32">
          <use href="../img/icons.svg#burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
